body {
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFFF0;
}

a {
    color: #218DA6
}

a:hover {
    color: rgb(51, 151, 173)
}

p a {
    font-weight: bold;
}

.gradient-bg {
    min-height: auto;
    background: url(../img/bg-pattern.png), #218DA6;
    background: url(../img/bg-pattern.png), -webkit-linear-gradient(to bottom, #218DA6, #218DA6);
    background: url(../img/bg-pattern.png), linear-gradient(to bottom, #218DA6, #218DA6);
    color: #fff;
}

.blue-bg {
    background: #FFFFF0;
}

.yellow-bg {
    background: #FEB2AD;
}

.white {
    color: #fff
}

#logos {
    height: 100px;
}

img {
    max-width: 100%;
    height: auto;
}

blockquote {
    font-size: 14px;
    background-color: #fff;
    border-radius: 5px;
    padding: 1em;


}

.hero h2 {
    font-weight: normal;
}

.hero h2 a {
    color: #fff;
    font-weight: normal;
    text-decoration: underline;
}

blockquote strong {
    color: #F56358
}

#tech-icons i {
    font-size: 2rem;
}

.framed img {
    display: block;
    width: 60vw;
    height: 25vh;
    object-fit: cover;
    object-position: 0 0;
}

table#experience {
    font-size: 1.5rem;
}

table#experience td {
    padding-right: 15px;
}

.text-align-center {
    text-align: center;
}

h2 {
    font-weight: bold;
}

h4 {
    margin-top: 1.8rem !important;
}

h5 {
    color: #F56358;
    font-weight: bold;
}


/* h3 {color: #004e66} */

h1,
h2,
h3,
h4 {
    font-family: 'Roboto', sans-serif;
}

#testimonials blockquote {
    margin-bottom: 3em !important;
}

/* This lives outside of element so it can work without JS */
details-dialog {
    position: fixed;
    margin: 10vh auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    max-height: 80vh;
    max-width: 90vw;
    width: 448px;
}