<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>John Farrell - Full Stack JavaScript/ASP.NET/C# Developer</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">

    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

</head>

<body>
    <div class="container-fluid blue-bg">
        <div class="container">
            <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4">
                <h5 class="my-0 mr-md-auto font-weight-normal"></h5>
                <nav class="my-2 my-md-0 mr-md-3">
                    <a class="mr-2" href="https://docs.google.com/document/d/1NiDBChZTSgB9teuwSsNvNYUxaxxpj9R1in_JFsCvGuo/edit?usp=sharing"
                        target="_blank">
                        <i class="far fa-file"></i> Resume
                    </a>
                    <a class="mr-2" href="https://www.linkedin.com/in/johnefarrell/" target="_blank">
                        <i class="fab fa-linkedin"></i> LinkedIn
                    </a>
                    <a href="https://github.com/jfreal" target="_blank">
                        <i class="fab fa-github"></i> Github
                    </a>
                </nav>
            </div>
        </div>
    </div>


    <div class="container-fluid gradient-bg ">
        <div class="container ">
            <div class="row justify-content-center ">
                <div class="col-4 p-4">
                    <img src="./img/squared.jpg " class="rounded-circle" width="170px" />
                </div>
                <div class="col-4 p-4">
                    <h3>John Farrell</h5>
                        <p>
                            johnefarrell@gmail.com<br />
                            8607782522
                        </p>
                </div>
                <div class="col-4 p-4 ">
                    <h3>Full Stack Developer</h3>

                    <table id="experience ">
                        <tr>
                            <td>20</td>
                            <td>Years of Web Development</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Years of Full Stack ASP.NET</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Years of Leadership</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row blue-bg " id="tech-icons">
        <div class="container text-align-center py-4 ">
            <i class="devicon-csharp-plain colored"></i>
            <i class="devicon-dot-net-plain-wordmark colored"></i>
            <i class="devicon-git-plain colored"></i>

            <i class="devicon-github-plain colored"></i>
            <i class="devicon-javascript-plain colored"></i>
            <i class="devicon-angularjs-plain colored"></i>
            <i class="devicon-vuejs-plain colored"></i>

            <i class="devicon-postgresql-plain colored"></i>
            <i class="devicon-redis-plain colored"></i>
            <i class="devicon-slack-plain colored"></i>
            <i class="devicon-typescript-plain colored"></i>
            <i class="devicon-html5-plain colored"></i>
            <i class="devicon-css3-plain colored"></i>
            <i class="devicon-bootstrap-plain colored"></i>

            <i class="devicon-confluence-plain colored"></i>
            <i class="devicon-jquery-plain colored"></i>
        </div>
    </div>

    <div id="app" class="container ">
        <div class="row mt-4">
            <div class="col-8">
                <h3>Recent Experience</h3>
                <div v-for="experience in recentExperiences">
                    <experience-component v-bind:experience="experience"></experience-component>
                </div>
                <h3>Older Experience</h3>
                <div v-for="experience in pastExperiences">
                    <experience-component v-bind:experience="experience"></experience-component>
                </div>
            </div>
            <div class="col-4" id="testimonials">
                <h3>Testimonials</h3>
                <blockquote>
                    <p>Sometime you come across an individual who really makes you question your own
                        abilities. John is such a person. He produces <strong>excellent quality code</strong> using
                        the
                        right technology and truly understands the depths of the
                        technology that he is utilizing. He's up to date on the latest ideas and trends and yet
                        <strong>implements
                            them wisely</strong> and not because it's the latest trend. I look forward to working
                        with
                        him again in the future.</p>
                    <footer class="blockquote-footer text-right">Mark Adams - Senior .Net Developer and Application
                        Architect</footer>
                </blockquote>


                <blockquote>
                    <p>John is an excellent programmer with an in-depth grasp of the entire ASP.Net MVC framework as
                        well as the Entity Framework. It was a pleasure to work with him on the project we were on. I
                        know
                        that in the intervening time he has kept his
                        knowledge up to date and I would have <strong>no problem recommending him</strong> for a
                        position.</p>
                    <footer class="blockquote-footer text-right">David Melinosky - Business Systems Developer at CNC
                        Software</footer>
                </blockquote>

                <blockquote>
                    <p>
                        I have known John Farrell professionally for a number of years and have placed him at
                        multiple
                        clients in the greater Hartford area as a .NET Developer. He is a talented IT professional
                        who
                        <strong>consistently receives positive feedback</strong> on his work and has been
                        <strong>requested to return to client sites</strong> as additional needs arise.
                    </p>

                    <p>
                        John’s skill set is in high demand at the moment and his <strong>easygoing and engaging
                            personality</strong>
                        makes him one of my most marketable candidates. We continue to receive <strong>great feedback
                            on
                            his
                            work, reliability and ability to fit in with the team</strong>.
                    </p>
                    <footer class="blockquote-footer text-right">Lisa Drew - Senior Technical Recruiter</footer>
                </blockquote>

                <blockquote>
                    <p>
                        As a small business owner with limited technical knowledge finding a software developer who
                        can
                        understand your business needs and turn them into usable functioning software is very
                        difficult. John has done an <strong>extraordinary job of sitting down with me,
                            analyzing my problems, and using outside the box thinking to come up with creative
                            solutions to
                            solve my problems</strong>. I have lots of ideas but I don’t have lots of time, working
                        with John
                        has
                        enabled me to write a brief description
                        of what I want and then he spends the time to figure out what the problem is and how to
                        solve
                        it. Many other developers stray down the wrong path and waste your money because they don’t
                        fully understand your needs.
                    </p>

                    <p>
                        If John is not 100% sure of the direction he is headed he will setup a meeting to discuss
                        and
                        gain full clarity before proceeding forward. The main application that John has created for
                        my
                        business has completely streamlined my operation. I couldn't imagine
                        not having it at this point. It has been a pleasure working with John and I look forward to
                        working with him for years to come.
                    </p>

                    <footer class="blockquote-footer text-right">Ryan Andrew - CEO</footer>
                </blockquote>

                <blockquote>
                    <p>As a colleague of John at the UConn Health Center I can honestly say he is one of the
                        brightest
                        programmers I have ever had the pleasure to work with. His abilities in the .Net world, and
                        in
                        all other aspects of programing, is remarkable.
                        I would proudly recommend John for any endeavor he wished to embark upon.
                    </p>
                    <footer class="blockquote-footer text-right">Jack Lotko - Senior Developer</footer>
                </blockquote>

                <blockquote>
                    <p>
                        John and I were co-workers at PageFad. John was hired as a Junior Level Developer but
                        quickly
                        proved himself to be more knowledgeable than that. He was well versed in C#, ASP.NET, CSS,
                        JavaScript and Ajax. Now, although he was hired to do mostly Web Development
                        his skills also shined in SQL Server 2005. He worked well in both Database administration
                        and
                        design.
                    </p>

                    <p>
                        I would have to say his knowledge of Web Development is his greatest attribute. However,
                        that
                        is not to take away from the fact that <strong>he is very easy to work with</strong>. I would
                        definitely
                        work
                        with him again if had the chance.
                    </p>
                    <footer class="blockquote-footer text-right">Jeff Gadoury - Software Developer</footer>
                </blockquote>
            </div>
        </div>
    </div>

    <div class="container-fluid yellow-bg">
        <div class="container">
            Some great experiences along the way...
            <div class="row py-4 ">
                <div class="col-4">
                    <strong>Product Launch</strong>
                    <div class="rounded" style="width: 100%; height: 250px; min-height: 120px; background: url('./img/hype-app-tall.jpg') no-repeat center center; background-size: cover;">

                    </div>
                </div>
                <div class="col-4 ">
                    <strong>Conference Display</strong>
                    <div class="rounded" style="width: 100%; height: 250px; min-height: 120px; background: url('./img/movid-conference.jpg') no-repeat center center; background-size: cover;">

                    </div>
                </div>
                <div class="col-4 ">
                    <strong>Offsite Dinner in Thailand</strong>
                    <div class="rounded" style="width: 100%; height: 250px; min-height: 120px; background: url('./img/thailand-dinner.jpg') no-repeat center center; background-size: cover;">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-sm-8 ">
                <h4>Recent Work:</h4>
            </div>
        </div>
    </div>


    <div class="col-4 ">
        <a class="pull-left " target="_blank " href="http://www.teacherlingo.com/ ">
            src="./img/tl.png ">
        </a>
    </div>
    </div>




    <div class="row justify-content-center">
        <div class="col-sm-4 ">
            <h3 class="media-heading ">Order Management for Small Business </h3>

            <ul>
                <li>Asp.net MVC</li>
                <li>JavaScript</li>
                <li>JQueryC</li>
                <li>Petapoco</li>
                <li>Twitter Bootstrap</li>
            </ul>
        </div>
        <div class="col-sm-4 ">
            <a class="pull-left " target="_blank " href="/images/bt-large.png ">
                <img class="media-object img-rounded " src="./img/bt.png ">
            </a>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-sm-4">
            <h5 class="media-heading ">High Traffic Ecommerce - guitarcenter.com</h5>
            <strong>Technologies:</strong> ASP.NET Webforms and MVC, JQuery, Entity Framework, WCF


            <ul>
                <li>Full Stack</li>
                <li>Asp.net WebForms</li>
                <li>Asp.net Mvc</li>
                <li>JQuery</li>
                <li>Entity Framework</li>
                <li>WCF</li>
            </ul>




            <p>
                Overall working on guitarcenter.com was a challenging project involving lots of different
                pieces of
                the ASP.NET framework. Some days I was working on very old school old school hardcoded ado.net
                sql
                queries and the next using mvvm style JavaScript screens.
                guitarcenter.com is a 10 year old project and underneath the covers was a wide mixture of
                different
                ASP.NET methodologies and techniques used over the years.
            </p>


        </div>
        <div class="col-sm-4">

            <a class="pull-left " target="_blank " href="http://guitarcenter.com/ ">
                <img class="media-object img-rounded " src="./img/gc.png ">
            </a>

        </div>
    </div>



    <div class="row ">
        <div class="col ">
            <h4>Volunteer Work</h4>
            <div class="media work ">
                <a class="pull-left " target="_blank " href="http://www.bushnellpark.org/ ">
                    <img class="media-object img-rounded " src="./img/bpf.png ">
                </a>
                <div class="media-body ">
                    <h3 class="media-heading ">Wordpress for Non-Profit - bushnellpark.org</h3>
                    <p>
                        <a href="http://www.bushnellpark.org/ ">bushnellpark.org</a> is a Wordpress
                        installation I
                        perform page design and maintenance services for.
                    </p>
                    <span class="technologies "><strong>Technologies:</strong> Php, Wordpress</span>

                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-12 ">
            <h4>Older Projects</h4>

        </div>
    </div>

    <div class="row framed ">
        <div class="col-sm-4 ">
            <div style="height: 100px; ">
                <img src="./img/virtualaltnet.png " />
            </div>
        </div>
        <div class="col-sm-4 ">
            <img src="./img/palmclassicapparel.png " />
        </div>
        <div class="col-sm-4 ">
            <img src="./img/americanacres.png " />
        </div>
    </div>
    </div>

    <footer>
        <p>&copy; 2019 - John Farrell</p>
    </footer>

    <script type="text/x-template" id="experience-component">

        <div class="row my-4">
            <div class="col-4 ">
                <h5>{{experience.role}}</h5>
                <p>{{experience.title}}<br />
                    {{experience.timeline}}</p>
            </div>
            <div class="col-4 ">
                <strong>Tech</strong>
                <ul>
                    <li v-for="tech in experience.technology">{{tech}}</li>
                </ul>
            </div>

            <div class="col-4 ">
                <img class="img-thumbnail" :src="experience.imageUrl" />
            </div>
        </div>
    </script>
    <script src="index.js"></script>
</body>

</html>